@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Admin") {

 <div>
  Login
  Username: <input type="text" id="username"><br>
  Password: <input type="text" id="password"><br>
  <button id="login">Login</button>
 </div>




<div class="area">
  first Step <br> <br>
  id = #24:1 <br>
  kind = first <br>
  <button>create Component</button>
 </div>

 <div class="component">
  Component <br> <br>
  id = #24:1 <br>
  kind = immutable <br>
  <button>create NextStep</button>


 </div>


}
